<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Фото</title>
</head>
<body>
<div class="container">
    <header>
        <link rel="stylesheet" href="~/css/StyleSheetIndex.css">
    </header>
    <div class="cover">
        <h1>Выбери лучшее фото</h1>
        <form class="flex-form" method="post">
            <input type="text" name="word" placeholder="Введите слово для поиска фото" /><br />
            <input type="submit" value="Отправить" />
        </form>
    </div>
</div>
</body>
</html>
